body {
  font-family: "Arial", "Meiryo", sans-serif;
}
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 2px skyblue;
  border-bottom: solid 3px rgb(115, 115, 114);
}
html {
  font-size: 20px;
  text-align: center;
}
#parent p  {
  font-weight: bold;
}
.skyblue {
  color: skyblue;
}
.pink {
  color: rgb(255, 192, 203);
}
.pinkgroup {
  color: rgb(255, 192, 203);
}
.bluegroup {
  color: skyblue;
}